<ion-content>
    <div class="container-1">
        <div class="box-1">
            <img src="../../assets/image/istockphoto-859736630-170667a.jpg" alt="">
            <ion-header>FUTURE</ion-header><br>
            <p>Dive Into Self-Driving Cars</p>
            <h>A self-driving car is a vehicle that is capable of sensing it's environment navigating</h>
        </div>
        <div class="box-2">
            <ion-slides pager [options]="{onlyExternal: false}">

                <ion-slide style="background-color: white color gray">
                  <h2></h2>
                </ion-slide>
              
                <ion-slide style="background-color: white">
                  <h2></h2>
                </ion-slide>
              
                <ion-slide style="background-color: white">
                  <h2></h2>
                </ion-slide>
              
              </ion-slides>

              <!-- <ion-buttons slot="primary">
                <ion-button color="secondary" shape="round" size="small">
                    <ion-button >GET STARTED</ion-button>
                </ion-button>
              </ion-buttons> -->
              
              
        </div>
        <ion-button style="--background: #410ADF" shape="round" size="medium">GET STARTED</ion-button>
    </div>

</ion-content>