<ion-content>
    <div class="container-1">
        <div class="box-1">
            <img src="../../assets/image/istockphoto-859736630-170667a.jpg" alt="">
            <ion-header class="ion-no-border">FUTURE</ion-header><br>
            <p>Dive Into Self-<br> Driving Cars<br></p>
            <h6>A self-driving car is a vehicle that is capable of sensing it's environment and navigating...</h6>
        </div>
        <div class="box-2">
            <ion-slides pager class="slides" style="color: gray;">

                <ion-slide style="background-color: white">
                    <h2 style="color: gray;"></h2>
                </ion-slide>

                <ion-slide style="background-color: white">
                    <h2></h2>
                </ion-slide>

                <ion-slide style="background-color: white">
                    <h2></h2>
                </ion-slide>

                <ion-slide style="background-color: white">
                    <h2></h2>
                </ion-slide>

                <ion-slide style="background-color: white">
                    <h2></h2>
                </ion-slide>

            </ion-slides>
        </div>
        <div class="container-2">
            <ion-button href="/register" style="--background: #410ADF" shape="round" size="medium">GET STARTED</ion-button>
        </div>

    </div>

</ion-content>
<!-- install ionic 
npm i @ionic/lab
run ionic 
ionic lab -->