ion-content {
    width: 100%;
    // height: 100%;
}

.container-1 {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 5px auto;
    margin-left: 15% 0;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.container-1 div {
    width: 100%;
    // border: 1px #ccc solid;
    padding: 10px;
    margin: 1px;
    align-items: center;
    margin-left: 0 0;
}

.box-1 {
    flex-basis: 100%;
    align-items: left;
    text-align: left;
    padding-bottom: 0px;
}

.box-2 {
    width: 100%;
    object-fit: contain;
    align-items: center;
    align-items: center;
}

ion-header {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: #B4B5B9;
}

.box-1 p {
    padding-left: 30px;
    font-weight: bolder;
    font-size: x-large;
    text-align: left;
    margin-top: 3px;
    color: #616872;
}

.box-1 h6 {
    padding-left: 30px;
    padding-right: 17px;
    color: #B0B3B8;
    object-fit: contain;
    text-align: left;
    align-items: center;
    font-size: 15px;
    padding-bottom: 5%;
}

img {
    margin-left: 0;
    padding-left: 0;
    object-fit: cover;
    object-position: 20% 0;
    width: 100%;
    background-color: white;
    // clip: rect();
    align-items: center;
}

.container-2 ion-button {
    align-items: center;
    margin-left: 0px 0;
    color: white;
    object-fit: fill;
    width: 80%;
    height: 40px;
    font-weight: bolder;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    padding-top: 50%;
}

.slides {
    color: gray;
}