// #container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }
// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }
// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }
// #container a {
//   text-decoration: none;
// }
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.container-1 {
    display: flex;
    width: 100%;
    height: auto;
    margin: 5px auto;
    margin-left: 5%;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    align-items: center;
    // align-items: flex-start;
}

.container-1 div {
    // border: 1px #ccc solid;
    padding: 10px;
    margin: 1px;
    align-items: center;
    
}

.box-1 {
    // flex: 4;
    flex-basis: 100%;
    align-items: center;
    // align-items: center;
    padding-bottom: 0px;
}

// .box-2 {
//     // flex: 1;
//     width: 100%;
//     align-items: center;
//     // padding-top: 15px;
// }

.box-2 {
    // flex: 1;
    width: 100%;
    object-fit: contain;
    align-items: center;
    // padding-top: 0px;
    align-items: center;
}

.box-1 ion-header {
    padding-left: 10px;
    padding-top: 0;
    align-items: center;
    padding-bottom: 5px;
    // padding-left: 0;
    // text-align: left;
    // color: gray;
    font-size:medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color:#B4B5B9;
}

.box-1 p {
    padding-left: 10px;
    font-weight:bolder;
    font-size: x-large;
    text-align: left;
    margin-top: 3px;
    color: #616872;
    
}

.box-1 h{
    padding-left: 10px;
    color: #D2D5DA;
    object-fit: contain;
    text-align: center;

}

img {
    // border-radius: 8px;
    // object-fit: scale-down;
    margin-left: 0;
    object-fit: cover;
    object-position: 20% 0;
    width: 428px;
    height: 337px;
    background-size: contain;
    background-color: white;
    // clip: rect();
    align-items: center;
}

.container-1 ion-button{
    text-align: center;
    margin-left: 0px 0;
     color:  white;
     object-fit: fill;
     width: 60%;
     height: 40px;
     font-weight: bolder;
     font-size: small;
    //  font-family: Arial, Helvetica, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // font-family: sans-serif;
    // font-family: inherit;
}