
<ion-content>
  <div class="Container">
<div class="box-1">
  <ion-title>Sign up</ion-title>
</div>
<div class="box-2">
<ion-header>Hello</ion-header>
  <ion-list>
    <ion-item>
      <ion-input  placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input  placeholder="Email Address"></ion-input>
    </ion-item>
    <ion-item>
      
      <ion-input  placeholder="Password" type="Password"></ion-input>
    </ion-item>
    
    
    
    <!-- <ion-item>    
        <ion-route>
          <p>password</p>
        </ion-route>
        <p style="padding-left: 2px;">Don't have an Account?</p>
      <a href="https://example.com" style="padding-left: 2px;">Sign Up</a>
    </ion-item> -->
  </ion-list>
  
  <ion-button style="--background: #410ADF" shape="round" size="medium">CREATE</ion-button>

</div>

  </div>
</ion-content>
