ion-content {
    width: 100%;
    height: 100%;
    --background: #5321E2;
}

#Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 97.5%;
    background-color: #5321E2;
}

#Container div {
    padding: 10px;
    margin: 1px;
    align-items: center;
    margin-left: 0 0;
}

#title {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    flex-direction: column;
    background-color: #5321E2;
    color: white;
    width: 100%;
    margin-bottom: 0;
}

#header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    align-content: flex-start;
    flex-direction: column;
    display: flexbox;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: black;
    padding-left: 0;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

#username ion-item {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

#email {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

#password {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

#register div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    margin-top: 0;
}

#register {
    border-radius: 40px;
    background-color: white;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 80%;
    align-items: center;
    margin-bottom: 5px;
}

h1 {
    display: flex;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;
    padding-left: 0;
    width: 100%;
}

#topP p {
    display: flex;
    align-items: flex-start;
    text-align: left;
    align-content: flex-start;
    padding-left: 0;
}

p1 a {
    font-size: 10px;
    font-weight: 900;
    display: flex;
    text-align: left;
    align-items: center;
    color: rgb(12, 12, 12);
    font-family: 'Nunito', sans-serif;
    padding-left: 20%;
}

.container-2 ion-button {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
    color: white;
    height: 40px;
    font-weight: bolder;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ion-title {
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#register h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    padding-left: 10%;
}

p {
    display: flex;
    align-content: center;
    text-align: left;
    display: flex;
    color: gray;
    font-size: 10px;
    font-weight: 900;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    padding-left: 10%;
}

p1 {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 10px;
    font-weight: 900;
    padding-top: 0%;
    padding-bottom: 1px;
    background-color: white;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

ion-item {
    --border-color: var(--ion-color-dander, gray);
    width: 80%;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    font-size: small;
}

ion-input {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}